<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJS Tutorial | EJS Template Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <% if (locals.data) { %>
                <h1>You Searched For :<%= data.userQuery %> </h1>
                <% if (data.loggedIn) { %>
                <h2>You are logged in as : <%= data.username %></h2>
                <% } %>
                <% } else {%>
                    <h1>You Searched For : Dummy Text Here </h1>
                <% } %>
                <ul>
                    <% if (locals.data) { %>
                    <% locals.data.searchResults.forEach(result => { %>
                        <li><%= result %></li>
                    <% }); %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>